<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.uinazuma">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/inazumasymbol"
        android:label="@string/app_name"
        android:roundIcon="@drawable/inazumasymbol"
        android:scaleType="centerCrop"
        android:supportsRtl="true"
        android:theme="@style/Theme.uinazuma.NoActionBar">
        <activity
            android:name=".MainActivity13"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity12"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity11"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity10"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity9"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Homractivity"
            android:exported="false"
            android:label="Home"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity8"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity7"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity6"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity5"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity4"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity3"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity2"
            android:exported="false"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme.uinazuma.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>